
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <!--
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    -->
      <a class="navbar-brand" href="{{ site.baseurl }}">
        <div class="navbar-id">
          <div class="navbar-id-icon">
            <span id="icon-CityzenData" class="icon-CityzenData"></span>
          </div>
          <div class="navbar-id-name">
            Warp 10
          </div>
        </div>
      </a>
    </div>
    <div class="collapse navbar-nav navbar-collapse navbar-right">
      <div class="form-inline">
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
          <input id="search_box" class="form-control" style="vertical-align: middle" >
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="navbar-separator" > </div>

<warp10-conf conf="doc"></warp10-conf>

<div id="mainbody">
