<div id="panel-tutorial" class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#side-menu" href="#collapse-apis">
        <span class="glyphicon glyphicon-tasks"></span>APIs
      </a>
    </h4>
  </div>
  <div id="collapse-apis" class="panel-collapse collapse {% if page.category == 'apis' %} in {% endif %}">
    <div class="list-group">
      <a class="list-group-item" href="{{ site.baseurl }}/apis/">Overview</a>

      <a class="list-group-item" href="{{ site.baseurl }}/apis/warpscript">WarpScript</a>

      <a class="list-group-item" href="{{ site.baseurl }}/apis/fetch">Fetch</a>

      <a class="list-group-item" href="{{ site.baseurl }}/apis/ingress">Ingress</a>

      <a class="list-group-item" href="{{ site.baseurl }}/apis/delete">Delete</a>

      <a class="list-group-item" href="{{ site.baseurl }}/apis/gts-input-format">GTS input format</a>

      <a class="list-group-item" href="{{ site.baseurl }}/apis/gts-output-format">GTS output format</a>

    </div>

  </div>
</div>
