<div id="panel-reference" class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#side-menu" href="#collapse-reference">
        <span class="glyphicon glyphicon-cog"></span>WarpScript</a>
    </h4>
  </div>
  <div id="collapse-reference" class="panel-collapse collapse {% if (page.category == 'reference') or (page.category == 'miscellaneous') %} in {% endif %}">
    <div class="list-group">
      <a class="list-group-item" href="{{ site.baseurl }}/reference/">Overview</a>

      <div class="list-group-item">
        <a href="{{ site.baseurl }}/reference/reference">Reference</a>
      </div>
      <div class="list-group" id="collapse-reference-list">
        <a class="list-group-item" href="{{ site.baseurl }}/reference/reference#frameworks">Frameworks</a>
        <a class="list-group-item" href="{{ site.baseurl }}/reference/reference#functions-constant">Constant</a>
        <a class="list-group-item" href="{{ site.baseurl }}/reference/reference#functions-math">Mathematical</a>
        <a class="list-group-item" href="{{ site.baseurl }}/reference/reference#functions-standalone">Standalone</a>
        <a class="list-group-item" href="{{ site.baseurl }}/reference/reference#functions-lists-maps">Lists &amp; maps</a>
        <a class="list-group-item" href="{{ site.baseurl }}/reference/reference#functions-logic">Logic</a>
        <a class="list-group-item" href="{{ site.baseurl }}/reference/reference#functions-stack">Stack</a>
        <a class="list-group-item" href="{{ site.baseurl }}/reference/reference#functions-platform">Platform</a>
        <a class="list-group-item" href="{{ site.baseurl }}/reference/reference#functions-gts">Geo Time Series<sup>®</sup></a>
        <a class="list-group-item" href="{{ site.baseurl }}/reference/reference#functions-bucketized-gts">Bucketized GTS</a>
        <a class="list-group-item" href="{{ site.baseurl }}/reference/reference#functions-geo">Geo-related</a>
      </div>
      <a class="list-group-item" href="{{ site.baseurl }}/reference/miscellaneous">Miscellaneous functions</a>
      <a class="list-group-item" href="{{ site.baseurl }}/reference/processing">Working with Processing</a>
    </div>
  </div>
</div>
